

$font: "Domine", sans-serif;
$text-color-dark: rgba(0,0,0,0.8);

@mixin headerText($size) {
    font-family: $font;
    font-size: $size;
    line-height: 24px;
    font-weight: 500;
    color: white;
    letter-spacing: 0.01em;

    &:hover {
        color: $text-color-dark;
    }
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    top: 30px;
    right: 30px;;
    width: 30px;
    height: 20px;
    color: black;
    display: none;
  }

  @media only screen and (max-width: 650px) {
    .bm-burger-button {
        display: block;
    }
    .menu {
        display: none !important;
    }   
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #373a47;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    width: 100%;
  }

  
  /* Wrapper for item list */
  .bm-item-list {

  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    @include headerText($size: 24px);
    margin-bottom: 20px;

  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }